<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Movie Search</title>
</head>
<body>
    <form method="GET" action="{% url 'recommendations' 'NO_ACTOR' 'NO_DIRECTOR' 'NO_GENRE' %}">
        {% csrf_token %}
        <h4>Choose a genre!</h4>
        <select name="genre_select">
            <option selected value="NO_PREFERENCE">No Preference</option>
            <option value="27">Horror</option>
            <option value="10749">Romance</option>
            <option value="35">Comedy</option>
            <option value="28">Action</option>
            <option value="99">Documentary</option>
        </select>

        <h4>Search an Actor:</h4>
        <input type="text" name="actor_select" placeholder="Enter actor name">
        <br><br>

        <h4>Search a Director:</h4>
        <input type="text" name="director_select" placeholder="Enter director name">
        <br><br>

        <h4>Rating Preference:</h4>
        <select name="rating_select">
            <option value="LOWEST">Lowest First</option>
            <option value="HIGHEST">Highest First</option>
            <option selected value="NO_PREFERENCE">No Preference</option>
        </select>

        <input type="submit" value="Search">
    </form>
</body>
</html>